*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 90px;
    background-color: #222629;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 10;
}

.title-nav-containter {
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 35px;
}

nav {
    width: 50%;
    /* position: relative; */
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 20px;
    color: white;
}

.close-btn {
    display: none;
    font-size: 40px;
    color: white;
    line-height: 90px;
    position: absolute;
    right: 2rem;
    top: 0.3rem;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    background-color: #86C232;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 20px;

}

nav ul li a:hover {
    font-size: 22px;
    position: relative;
    top: 2px;
    box-shadow: 0px 5px 5px rgb(81, 163, 36);

}



#checkbtn {
    display: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: white;
    line-height: 90px;
    cursor: pointer;
    z-index: 11;
}

body {
    background-color: #222629;
}

/*  styles for Page 1 Container */

.page1 {
    width: 100%;
    height: 90vh;
    background-color: #474B4F;
    position: relative;
}

.page1 h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    display: inline-block;
    padding-top: 30px;
    color: white;
    margin-left: 5%;
    font-size: 50px;
    /* border-bottom: 5px solid #86C232; */
    /* added two lines fot h1::after */
    position: relative;
    width: max-content;
}

.page1 h1::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, red, green, rgb(4, 255, 201));
    height: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    transition: 1s;
    transition-timing-function: ease-in-out;

}

.page1 h1:hover::after,
.page1 h2:hover::after {
    width: 0;
}

.h1last {
    color: #86C232
}

.page1 h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.641);
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 5%;
    font-size: 30px;
    position: relative;
    width: max-content;
}

.page1 h2:after {
    position: absolute;
    content: "";
    background: #86C232;
    height: 5px;
    width: 90%;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    transition: 1s;
    transition-timing-function: ease-in-out;

}

.container {
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    height: 400px;
    overflow: hidden;
    position: absolute;
    bottom: 10vh;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0));
}

.container_image {
    height: 100%;
    width: 200px;
    display: flex;
    position: absolute;
    left: max(calc(180px * 8), 100%);
    animation-name: moveleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: width 0.3s ease;
}

.container_image img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: width 0.3s ease;
    /* position:relative; */
}

.container_image:hover {
    width: 205px;
}

.container img:hover {
    width: 100%;
}


@keyframes moveleft {
    to {
        left: -200px;
    }
}

.img-title {
    width: 100px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.269);
    color: #000000;
    font-size: 25px;
    position: relative;
    top: 350px;
    /* right: 130px; */
    right: 50%;
    z-index: 2;
    border-radius: 22px;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transform: translateX(-50%);
}


/* page 2 */

.page2 {
    width: 100%;
    /* background-color: #474B4F; */
    margin-top: 10px;
    border-top: 3px solid #86C232;
    overflow-x: hidden;
}

.p2h1div {
    width: 100%;
    background-color: #474B4F;
    display: flex;
    justify-content: center;
}

.p2h1div h1 {
    text-align: center;
    padding-top: 20px;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    color: white;
    border-bottom: 5px solid #86C232;
    width: max-content;
    font-size: 50px;
}

section.first {
    min-height: 450px;
    width: 100%;
    background-color: #474B4F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

section.first h1 {
    text-align: center;
}

section.first div {
    width: 250px;
    height: 300px;
    margin-top: 50px;
    background-color: #ffffffd6;
    border-radius: 15px;
    overflow: hidden;
}

.box {
    text-align: center;
    padding: 10px;
    /* box-shadow:0px 0px 10px rgb(174, 249, 35);  set on hover */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.box img {
    padding-bottom: 10px;
    height: 40%;
}

.box p {
    font-size: 17px;
    text-align: left;
    padding: 5%;
    color: rgba(0, 0, 0, 0.481);
    background-color: #86c23293;
    border-radius: 5px;
    margin-top: 10%;
    height: 40%;

}

.box h3 {
    border: 2px solid black;
    border-radius: 0.5em;
    color: #000000;

}

.box h3:hover {
    background-color: #86c23293;
}

.box p:hover {
    color: black;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
}

.box:hover {
    box-shadow: 0px 0px 10px rgb(174, 249, 35);
}

/* second section start */
section.second {
    width: 100%;
    /* height: 650px; */
    margin-top: 10px;
    border-top: 3px solid #86C232;
    background-color: #474B4F;

}

.div_box {
    width: 100%;
    height: 514px;
    display: flex;
    /* flex-wrap: wrap; */
}

.div_1 {
    width: 50%;
    height: 100%;
    /* position: relative; */
    /* overflow: hidden; */
}

#grid_img {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 49%);
    gap: 10px;
    padding: 10px;
}

#grid_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.div_2 {
    width: 50%;
    padding: 20px;
    height: 100%;
    /* overflow: hidden; */
}

.div_2 h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.759);
    margin-top: 15px;
    margin-left: 2%;
    font-size: 19px;
    position: relative;
    width: max-content;

}

.div_2 h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    display: inline-block;
    padding-top: 30px;
    color: white;
    font-size: 50px;
    position: relative;
    width: max-content;
}

.div_2 h2::after {
    position: absolute;
    content: "";
    background: #86C232;
    height: 3px;
    width: 95%;
    bottom: -5px;
    left: 0;
    border-radius: 5px;
    transition: 2s;
    transition-timing-function: ease-in-out;
}

.div_2 h2:hover::after,
.div_2 h1:hover::after {
    width: 0;
}

.div_2 p {
    padding-top: 15px;
    font-size: 1.3em;
    padding-left: 2%;
    color: rgba(240, 248, 255, 0.687);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.div_2 h1::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, rgb(166, 255, 0), green, rgb(4, 255, 201));
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    transition: 1s;
    transition-timing-function: ease-in-out;

}

/* second section end */

.footer-main {
    width: 100%;
    background-color: #000;
    margin-top: 10px;
    font-family: "IBM Plex Sans", sans-serif;
    border-top: 3px solid #86C232;
    overflow-x: hidden;
    display: flex;
}

.footer-details {
    /* height: 300px; */
    width: 30%;
}

.footer-links {
    /* height: 300px; */
    width: 20%;
}

.footer-service {
    /* height: 300px; */
    width: 20%;
}

.footer-map {
    /* height: 300px; */
    width: 30%;
}

.footer-h2 {
    color: #fff;
    margin-top: 70px;
    width: max-content;
    position: relative;
    margin-bottom: 2rem;
}

.footer-h2::after {
    position: absolute;
    content: "";
    background: #86C232;
    height: 3px;
    width: 95%;
    bottom: -5px;
    left: 0;
    border-radius: 5px;
    transition: 2s;
    transition-timing-function: ease-in-out;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: rgb(178, 178, 178);
    text-decoration: none;
    line-height: 2.5rem;
    font-size: 1em;
}

footer a:hover {
    color: rgb(196, 196, 196);
    font-size: 1.1em;
}

.footer-badge {
    height: 100px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.14);
    margin: 2%;
    margin-top: 30px;
    border: 1px solid white;
    border-radius: 25px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.footer-badge img {
    width: 20%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.footer-badge h3 {
    color: #fff;
}

.footer-detail-p {
    width: 70%;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.footer-details p {
    color: rgb(166, 164, 164);
}

.footer-details i {
    margin-left: 7%;
    margin-right: 2%;
    font-size: 1.25rem;
    line-height: 35px;
    color: #86C232;
}

footer iframe {
    width: 60%;
    height: 250px;
    border-radius: 15px;
}

.footer-copyright {
    position: relative;
    text-align: center;
    background-color: #000;
    color: rgb(178, 178, 178);
    line-height: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.footer-copyright::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    width: 100%;
    height: 1px;
    background: #474B4F;
}

/* responsive code */

@media (max-width : 1130px) {
    .title {
        font-size: 28px;
    }

    nav ul li a {
        width: 80px;
        height: 32px;
        /* border-radius: 16px; */
        font-size: 12.8px;

    }

    nav ul li a:hover {
        font-size: 17.6px;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        font-size: 40px;
    }

    .page1 h2 {
        font-weight: 300;
        font-size: 36px;
    }

    section.first div {
        width: 210px;
        height: 330px;
    }

    .div_2 p {
        font-size: 1em;
    }

    .div_2 h2 {
        font-size: 18.5px;
    }
}

@media (max-width : 905px) {
    .title {
        font-size: 40px;
        width: 10000px;
    }

    .hamburger {
        display: inline-block;
    }

    nav ul {
        display: flex;
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        /* top: -100vh; */
        /* right: 0px; */

        top: 0px;
        right: -100%;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.481);
        backdrop-filter: blur(10px);
        transition: all 1s;

    }


    nav ul li a {
        width: 95%;
        margin-inline: 2.5%;
        /* background-color: inherit; */
        background-color: rgba(0, 0, 0, 0.1);
        color: #fff;
        border: 3px solid rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        box-shadow: 0px 0px 8px #86C232;
        font-size: 23px;
        font-weight: 400;
        height: 3.5rem;
        margin-bottom: 20px;
    }

    nav ul li a:hover {
        background-color: #86C232;
        border: none;
        top: 0px;
        font-size: 26px;
        box-shadow: none;
    }

    #checkbtn:checked~ul {
        display: flex;
        right: 0px;
        /* top: 0px; */
    }

    #checkbtn:checked~.hamburger {
        display: none;
    }

    .close-btn {
        display: inline-block;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        font-size: 30px;
    }

    .page1 h2 {
        font-weight: 300;
        font-size: 27px;
    }

    .page1 h1::after {
        height: 3px;
    }

    .page1 h2::after {
        height: 3px;
    }

    section.first div {
        width: 163px;
        height: 350px;
    }

    .box p {
        height: 50%;
    }

    .page2 {
        overflow-x: hidden;
    }

    .div_2 p {
        font-size: 0.98em;
    }

    .div_2 h2 {
        font-size: 13.5px;
    }
}



@media (max-width : 674px) {
    .title {
        font-size: 30px;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        margin-top: 1rem;
        font-size: 23px;
    }

    .page1 h2 {
        font-weight: 300;
        font-size: 18px;
    }

    .page1 h1::after {
        height: 2.5px;
    }

    .page1 h2::after {
        height: 2.5px;
    }

    section.first div {
        width: 220px;
        height: 350px;
        margin-bottom: 20px;
    }

    section.first {
        flex-wrap: wrap;
    }

    .box p {
        height: 38%;
    }

    .div_box {
        height: auto;
        flex-wrap: wrap;
    }

    .div_1 {
        width: auto;
    }

    .div_2 {
        width: auto;
    }

    .container_image img {
        width: 100%;
    }

    .container_image:hover {
        width: 200px;
    }
}

@media (max-width : 515px) {
    .title {
        font-size: 23.5px;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        margin-top: 50px;
        font-size: 21px;
    }

    .page1 h2 {
        font-weight: 300;
        margin-top: 30px;
        font-size: 18px;
    }

    .page1 h1::after {
        height: 1.7px;
    }

    .page1 h2::after {
        height: 1.7px;
    }

    .page2 h1 {
        font-size: 30px;
    }

    .box {
        box-shadow: 0px 0px 10px rgb(174, 249, 35);
    }

    .box p {
        color: #000000;
    }
}

@media (max-width : 456px) {
    .page2 h1 {
        font-size: 40px;
    }

    section.first div {
        width: 300px;
        height: 350px;
    }
}

@media (max-width : 412px) {
    .title {
        font-size: 19px;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        font-size: 18px;
    }

    .page2 h1 {
        font-size: 35px;
    }

    section.first div {
        width: 250px;
        height: 300px;
    }

    .page1 h2 {
        font-weight: 300;
        font-size: 16px;
    }

    .page1 h1::after {
        height: 2px;
    }

    .page1 h2::after {
        height: 2px;
    }
}

@media (max-width : 343px) {
    .title {
        font-size: 15px;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        margin-top: 2.5em;
        font-size: 13px;
    }

    .page1 h2 {
        font-weight: 300;
        font-size: 11px;
    }

    .page1 h1::after {
        height: 1.3px;
    }

    .page1 h2::after {
        height: 1.3px;
    }
}

/* End Here */