* {
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    height: 90px;
    background-color: #222629;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
}

.title-nav-containter {
    width: 90%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 35px;
}

nav {
    width: 50%;
    /* position: relative; */
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 20px;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    background-color: #86C232;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    border-radius: 20px;

}

nav ul li a:hover {
    font-size: 22px;
    position: relative;
    top: 2px;
    box-shadow: 0px 5px 5px rgb(81, 163, 36);

}



#checkbtn {
    display: none;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: white;
    line-height: 90px;
}

body {
    background-color: #222629;
}

/*  styles for Page 1 Container */

.page1 {
    width: 100%;
    height: 90vh;
    background-color: #474B4F;
}

.page1 h1 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    display: inline-block;
    padding-top: 30px;
    color: white;
    margin-left: 5%;
    font-size: 50px;
    /* border-bottom: 5px solid #86C232; */
   /* added two lines fot h1::after */
    position: relative;
    width:max-content;
}
h1::after{
    position:absolute;
    content:"";
    background:linear-gradient(to right, red,green,rgb(4, 255, 201));
    height:5px;
    width:100%;
    bottom:0;
    left:0;
    border-radius:5px;
   transition:1s;
   transition-timing-function:ease-in-out;

}
h1:hover::after,h2:hover::after{
    width:0;
}
.h1last{
    color:#86C232
}
.page1 h2 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.641);
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 5%;
    font-size: 30px;
    position: relative;
    width:max-content;
}
h2:after{
    position:absolute;
    content:"";
    background:#86C232;
    height:5px;
    width:90%;
    bottom:0;
    left:0;
    border-radius:5px;
   transition:1s;
   transition-timing-function:ease-in-out;

}
.container {
    width: 100%;
    height: 400px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    /* justify-content: space-evenly; */
    gap:2px;
}

.container_image {
    height: 100%;
    width: 200px;
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    transition: width 0.3s ease;
}

.container_image img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: width 0.3s ease;
    /* position:relative; */
}

.container_image:hover {
    width: 250px;
}

.container img:hover {
    width: 100%;
}


.img-title {
    width: 100px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.269);
    color: #000000;
    font-size: 25px;
    position: relative;
    top: 350px;
    /* right: 130px; */
    right: 50%;
    z-index: 2;
    border-radius: 22px;
    padding: 5px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
    transform: translateX(-50%);
}


/* responsive code */

@media (max-width : 1130px) {
    .title {
        font-size: 28px;
    }

    nav ul li a {
        width: 80px;
        height: 32px;
        /* border-radius: 16px; */
        font-size: 12.8px;

    }

    nav ul li a:hover {
        font-size: 17.6px;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        font-size: 40px;
        border-bottom: 5px solid #86C232;
    }

    .page1 h2 {
        font-weight: 300;
        font-size: 36px;
    }
}

@media (max-width : 905px) {
    .title {
        font-size: 40px;
        width: 10000px;
    }

    .hamburger {
        display: inline-block;
    }

    nav ul {
        display: block;
        position: fixed;
        width: 50%;
        height: 169px;
        top: 90px;
        right: -50%;
        text-align: center;
        background-color: #222629;
        transition: all .5s;
        z-index: 5;
    }

    nav ul li a {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        color: black;
        border-bottom: 2px solid rgb(134, 194, 50);
        border-radius: 0px;
        font-size: 20px;
    }

    nav ul li a:hover {
        background-color: #86C232;
        color: white;
        top: 0px;
        font-size: 21px;
    }

    #checkbtn:checked~ul {
        right: 0px;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        font-size: 30px;
        border-bottom: 5px solid #86C232;
    }

    .page1 h2 {
        font-weight: 300;
        font-size: 27px;
    }
}



@media (max-width : 660px) {
    .title {
        font-size: 30px;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        font-size: 23px;
        border-bottom: 5px solid #86C232;
    }

    .page1 h2 {
        font-weight: 300;
        font-size: 18px;
    }

    .container {
        /* flex-wrap: wrap; */
    }
}

@media (max-width : 500px) {
    .title {
        font-size: 20px;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        font-size: 15px;
        border-bottom: 5px solid #86C232;
    }

    .page1 h2 {
        font-weight: 300;
        font-size: 12.5px;
    }
}

@media (max-width : 362px) {
    .title {
        font-size: 17px;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        font-size: 12px;
        border-bottom: 5px solid #86C232;
    }

    .page1 h2 {
        font-weight: 300;
        font-size: 10px;
    }
}

@media (max-width : 300px) {
    .title {
        font-size: 12px;
    }

    .page1 h1 {
        font-weight: 400;
        padding-top: 30px;
        margin-left: 5%;
        font-size: 16px;
        border-bottom: 5px solid #86C232;
    }

    .page1 h2 {
        font-weight: 300;
        font-size: 14px;
    }
}
/* End Here */
